<div class="enemy">
    <div class="image-container">
        <img src="{{ user.getPicturePath() }}">
    </div>
    <a href="{{ path('profile') }}/{{ user.id }}">{{ user.firstName }} {{ user.lastName }}</a>
    <button class="enemy_button btn btn-danger" data-action="remove" data-url="/enemy/remove?initiatorId={{ initiator_id }}&recipientId={{ recipient_id }}">Feind entfernen</button>
</div>
